h1 {
  margin-bottom: 30px;
}
.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

.h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
